<!doctype html>
<html lang="sv">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Kalmar Energi - Förnybar energi för ett hållbart Kalmar. Vi levererar ren, pålitlig och prisvärd energi till hem och företag." />
		<title>Kalmar Energi - Förnybar energi för framtiden</title>
		<script src="@strifeapp/strife"></script>
		<link rel="stylesheet" href="./src/styles/global.css" />
	</head>
	<body class=" bg-white">
		<slot />
	</body>
</html>

<style>
	html {
		scroll-behavior: smooth;
	}
</style>
